version: '3.9'
services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      SERVICES: "s3,ecr,ecs,iam,cloudwatch,logs,sns,sqs,sts,dynamodb"
      DEBUG: "1"
      LOCALSTACK_HOST: "localhost"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"