name: CI - Terraform + Localstack

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform:
    name: Terraform Apply on Localstack
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5
          terraform_wrapper: false

      - name: Start Localstack
        working-directory: ./localstack
        run: docker compose up -d

      - name: Wait for Localstack
        run: |
          echo "Waiting for LocalStack to be ready..."
          retry=0
          until [ $retry -ge 30 ]
          do
            health=$(curl -s http://localhost:4566/health | jq -r '.running')
            if [ "$health" = "true" ]; then
              echo "LocalStack is ready."
              break
            fi
            echo "LocalStack not ready yet, waiting 5s..."
            sleep 5
            retry=$((retry+1))
          done

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve

      - name: Stop Localstack
        working-directory: ./localstack
        run: docker compose down
